body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #6A7FDB;
}


    div {
      position: absolute;
      height: 1rem;
      width: 1rem;
      left: 50%;
      top: 30%;
      background-color: #3c303d;
      box-shadow: /* black outline */
        -4rem -5rem #000,
        -3rem -5rem #000,
        -2rem -5rem #000,
        -1rem -5rem #000,
        0rem -5rem #000,
        1rem -5rem #000,
        2rem -5rem #000,
        3rem -5rem #000,
        4rem -6rem #000,
        5rem -7rem #000,
        6rem -8rem #000,
        7rem -8rem #000,
        8rem -7rem #000,
        8rem -6rem #000,
        9rem -5rem #000,
        9rem -4rem #000,
        9rem -3rem #000,
        10rem -2rem #000,
        10rem -1rem #000,
        10rem 0rem #000,
        10rem 1rem #000,
        10rem 2rem #000,
        10rem 3rem #000,
        10rem 4rem #000,
        10rem 5rem #000,
        10rem 6rem #000,
        10rem 7rem #000,
        10rem 8rem #000,
        10rem 9rem #000,
        10rem 10rem #000,
        10rem 11rem #000,
        9rem 12rem #000,
        9rem 13rem #000,
        8rem 14rem #000,
        7rem 15rem #000,
        6rem 16rem #000,
        5rem 17rem #000,
        4rem 17rem #000,
        3rem 18rem #000,
        2rem 18rem #000,
        1rem 18rem #000,
        0rem 18rem #000,
        -1rem 18rem #000,
        -2rem 18rem #000,
        -3rem 18rem #000,
        -3rem 19rem #000,
        -4rem 20rem #000,
        -5rem 21rem #000,
        -6rem 21rem #000,
        -7rem 20rem #000,
        -8rem 19rem #000,
        -8rem 18rem #000,
        -8rem 17rem #000,
        -9rem 16rem #000,
        -10rem 15rem #000,
        -10rem 14rem #000,
        -9rem 13rem #000,
        -8rem 11rem #000,
        -8rem 12rem #000,
        -9rem 11rem #000,
        -10rem 11rem #000,
        -11rem 11rem #000,
        -12rem 10rem #000,
        -13rem 10rem #000,
        -14rem 9rem #000,
        -15rem 8rem #000,
        -15rem 7rem #000,
        -16rem 6rem #000,
        -16rem 5rem #000,
        -16rem 4rem #000,
        -16rem 3rem #000,
        -15rem 2rem #000,
        -14rem 2rem #000,
        -13rem 2rem #000,
        -12rem 2rem #000,
        -11rem 2rem #000,
        -11rem 1rem #000,
        -11rem 0rem #000,
        -11rem -1rem #000,
        -10rem -2rem #000,
        -10rem -3rem #000,
        -9rem -4rem #000,
        -9rem -5rem #000,
        -9rem -6rem #000,
        -8rem -7rem #000,
        -7rem -7rem #000,
        -6rem -6rem #000,
        -5rem -5rem #000,
        
        
        /* dog nose */
        -15.5rem 3rem #7a4125,
        -15rem 3rem #7a4125,
        -14.5rem 3rem #7a4125,
        -14rem 3rem #532a27,
        -13.5rem 3rem #532a27,
        -13rem 3rem #532a27,
        -13rem 3.5rem #532a27,
        -14rem 3.5rem #532a27,
        -15rem 4rem #532a27,
        -15rem 4.5rem #532a27,
        -14rem 4.5rem #532a27,
        -15rem 5rem #966c49,
        -14rem 5rem #966c49,
        
        
        /* dog glasses */
        -10rem 2rem #3c303d,
        -10rem 1rem #000,
        -10rem 0rem #000,
        -9rem 2rem #000,
        -9rem 1rem #3c303d,
        -9rem 0rem #000,
        -8rem 2rem #000,
        -8rem 1rem #000,
        -8rem 0rem #3c303d,
        -7rem 2rem #000,
        -7rem 1rem #000,
        -7rem 0rem #000,
        -6rem 1rem #000,
        -5rem 1rem #000,
        -6rem 0rem #3c303d,
        -5rem 0rem #3c303d,
        -4rem 0rem #000,
        -3rem 0rem #000,
        -2rem 0rem #000,
        -1rem 0rem #000,
        -4rem 1rem #000,
        -3rem 1rem #000,
        -2rem 1rem #000,
        -4rem 2rem #000,
        -3rem 2rem #000,
        -4rem 3rem #000,
        -3rem 3rem #3c303d,
        -2rem 2rem #3c303d,
        -1rem 1rem #3c303d,
        0rem 0rem #3c303d,
        1rem 0rem #000,
        2rem 0rem #000,
        3rem 0rem #000,
        0rem 1rem #000,
        1rem 1rem #000,
        2rem 1rem #000,
        -1rem 2rem #000,
        0rem 2rem #000,
        1rem 2rem #000,
        -2rem 3rem #000,
        -1rem 3rem #000,
        0rem 3rem #000,
        -3rem 4rem #000,
        -2rem 4rem #000,
        -1rem 4rem #000,
        -2rem 5rem #000,
        4rem 0rem #3c303d,
        5rem 0rem #3c303d,
        3rem 1rem #3c303d,
        4rem 1rem #3c303d,
        2rem 2rem #3c303d,
        3rem 2rem #3c303d,
        1rem 3rem #3c303d,
        2rem 3rem #3c303d,
        0rem 4rem #3c303d,
        1rem 4rem #3c303d,
        -1rem 5rem #3c303d,
        0rem 5rem #3c303d,
        9rem 0rem #3c303d,
        8rem 0rem #3c303d,
        7rem 0rem #3c303d,
        6rem 0rem #000,
        9rem 1rem #000,
        8rem 1rem #000,
        7rem 1rem #000,
        6rem 1rem #000,
        5rem 1rem #000,
        5rem 2rem #000,
        4rem 2rem #000,
        5rem 3rem #000,
        4rem 3rem #000,
        3rem 3rem #000,
        4rem 4rem #000,
        3rem 4rem #000,
        2rem 4rem #000,
        3rem 5rem #000,
        2rem 5rem #000,
        1rem 5rem #000,
        -13rem 4.5rem #966c49,
        -12rem 3.5rem #966c49,
        -12rem 2.5rem #e9bc9b,
        -11rem 2.5rem #e9bc9b,
        -10rem 2.5rem #e9bc9b,
        -9rem 2.5rem #e9bc9b,
        -8rem 2.5rem #e9bc9b,
        -7rem 2.5rem #e9bc9b,
        -6rem 2rem #e9bc9b,
        -5rem 2rem #a67954,
        -5rem 3rem #a67954,
        -4rem 4rem #a67954,
        -3rem 5rem #a67954,
        -2rem 6rem #a67954,
        -1rem 6rem #a67954,
        0rem 6rem #a67954,
        1rem 6rem #a67954,
        2rem 6rem #a67954,
        3rem 6rem #a67954,
        4rem 5rem #a67954,
        5rem 4rem #a67954,
        6rem 3rem #a67954,
        6rem 2rem #a67954,
        7rem 2rem #a67954,
        8rem 2rem #a67954,
        9rem 2rem #a67954,
        /* fill in */
        -10rem -1rem #c8946b,
        -9rem -1rem #c8946b,
        -8rem -1rem #c8946b,
        -7rem -1rem #c8946b,
        -6rem -1rem #c8946b,
        -5rem -1rem #c8946b,
        -4rem -1rem #c8946b,
        -3rem -1rem #c8946b,
        -2rem -1rem #c8946b,
        -1rem -1rem #c8946b,
        0rem -1rem #c8946b,
        1rem -1rem #c8946b,
        2rem -1rem #c8946b,
        3rem -1rem #c8946b,
        4rem -1rem #c8946b,
        5rem -1rem #c8946b,
        6rem -1rem #c8946b,
        7rem -1rem #c8946b,
        8rem -1rem #c8946b,
        9rem -1rem #c8946b,
        -9rem -2rem #c8946b,
        -8rem -2rem #c8946b,
        -7rem -2rem #c8946b,
        -6rem -2rem #c8946b,
        -5rem -2rem #c8946b,
        -4rem -2rem #c8946b,
        -3rem -2rem #c8946b,
        -2rem -2rem #c8946b,
        -1rem -2rem #c8946b,
        0rem -2rem #c8946b,
        1rem -2rem #c8946b,
        2rem -2rem #c8946b,
        3rem -2rem #c8946b,
        4rem -2rem #c8946b,
        5rem -2rem #c8946b,
        6rem -2rem #c8946b,
        7rem -2rem #c8946b,
        8rem -2rem #c8946b,
        9rem -2rem #c8946b,
        -9rem -3rem #c8946b,
        -8rem -3rem #a8774e,
        -7rem -3rem #c8946b,
        -6rem -3rem #c8946b,
        -5rem -3rem #c8946b,
        -4rem -3rem #c8946b,
        -3rem -3rem #c8946b,
        -2rem -3rem #c8946b,
        -1rem -3rem #c8946b,
        0rem -3rem #c8946b,
        1rem -3rem #c8946b,
        2rem -3rem #c8946b,
        3rem -3rem #c8946b,
        4rem -3rem #e6ba97,
        5rem -3rem #c8946b,
        6rem -3rem #c8946b,
        7rem -3rem #a7764d,
        8rem -3rem #e9bd98,
        -8rem -4rem #a8774e,
        -7rem -4rem #a8774e,
        -6rem -4rem #c8946b,
        -5rem -4rem #e9c7b2,
        -4rem -4rem #e9c7b2,
        -3rem -4rem #e9c7b2,
        -2rem -4rem #e9c7b2,
        -1rem -4rem #e9c7b2,
        0rem -4rem #e9c7b2,
        1rem -4rem #e9c7b2,
        2rem -4rem #e9c7b2,
        3rem -4rem #e9c7b2,
        4rem -4rem #ca956b,
        5rem -4rem #a7764d,
        6rem -4rem #a7764d,
        7rem -4rem #a7764d,
        8rem -4rem #e9bd98,
        -8rem -5rem #a8774e,
        -7rem -5rem #a8774e,
        -6rem -5rem #ebbd9a,
        -8rem -6rem #ebbd9a,
        -7rem -6rem #ebbd9a,
        4rem -5rem #e7bc99,
        5rem -5rem #a7764d,
        6rem -5rem #a7764d,
        7rem -5rem #a7764d,
        8rem -5rem #e3ba9e,
        5rem -6rem #e3ba9e,
        6rem -6rem #a6754c,
        7rem -6rem #e6bb9b,
        6rem -7rem #e6bb9b,
        7rem -7rem #e6bb9b,
        -11rem 3rem #c9946a,
        -10rem 3rem #c9946a,
        -9rem 3rem #c9946a,
        -8rem 3rem #c9946a,
        -7rem 3rem #c9946a,
        -6rem 3rem #c9946a,
        7rem 3rem #c9946a,
        8rem 3rem #c9946a,
        9rem 3rem #c9946a,
        -12rem 4rem #c9946a,
        -11rem 4rem #c9946a,
        -10rem 4rem #c9946a,
        -9rem 4rem #c9946a,
        -8rem 4rem #c9946a,
        -7rem 4rem #c9946a,
        -6rem 4rem #c9946a,
        -5rem 4rem #c9946a,
        6rem 4rem #c9946a,
        7rem 4rem #c9946a,
        8rem 4rem #c9946a,
        9rem 4rem #c9946a,
        -13rem 5rem #c9946a,
        -12rem 5rem #c9946a,
        -11rem 5rem #c9946a,
        -10rem 5rem #c9946a,
        -9rem 5rem #c9946a,
        -8rem 5rem #c9946a,
        -7rem 5rem #c9946a,
        -6rem 5rem #c9946a,
        -5rem 5rem #c9946a,
        -4rem 5rem #c9946a,
        5rem 5rem #c9946a,
        6rem 5rem #c9946a,
        7rem 5rem #c9946a,
        8rem 5rem #c9946a,
        9rem 5rem #c9946a,
        -15rem 6rem #c9946a,
        -14rem 6rem #c9946a,
        -13rem 6rem #c9946a,
        -12rem 6rem #c9946a,
        -11rem 6rem #c9946a,
        -10rem 6rem #c9946a,
        -9rem 6rem #c9946a,
        -8rem 6rem #a7764d,
        -7rem 6rem #c9946a,
        -6rem 6rem #c9946a,
        -5rem 6rem #c9946a,
        -4rem 6rem #c9946a,
        -3rem 6rem #c9946a,
        4rem 6rem #c9946a,
        5rem 6rem #c9946a,
        6rem 6rem #c9946a,
        7rem 6rem #c9946a,
        8rem 6rem #c9946a,
        9rem 6rem #c9946a,
        -14rem 7rem #c9946a,
        -13rem 7rem #c9946a,
        -12rem 7rem #c9946a,
        -11rem 7rem #c9946a,
        -10rem 7rem #a7764d,
        -9rem 7rem #c9946a,
        -8rem 7rem #c9946a,
        -7rem 7rem #c9946a,
        -6rem 7rem #a7764d,
        -5rem 7rem #c9946a,
        -4rem 7rem #c9946a,
        -3rem 7rem #c9946a,
        -2rem 7rem #c9946a,
        -1rem 7rem #c9946a,
        0rem 7rem #c9946a,
        1rem 7rem #c9946a,
        2rem 7rem #c9946a,
        3rem 7rem #c9946a,
        4rem 7rem #c9946a,
        5rem 7rem #c9946a,
        6rem 7rem #c9946a,
        7rem 7rem #c9946a,
        8rem 7rem #c9946a,
        9rem 7rem #c9946a,
        -14rem 8rem #a47751,
        -13rem 8rem #c9946a,
        -12rem 8rem #c9946a,
        -11rem 8rem #c9946a,
        -10rem 8rem #c9946a,
        -9rem 8rem #c9946a,
        -8rem 8rem #c9946a,
        -7rem 8rem #c9946a,
        -6rem 8rem #c9946a,
        -5rem 8rem #c9946a,
        -4rem 8rem #a7764d,
        -3rem 8rem #c9946a,
        -2rem 8rem #c9946a,
        -1rem 8rem #c9946a,
        0rem 8rem #c9946a,
        1rem 8rem #eabc9b,
        2rem 8rem #eabc9b,
        3rem 8rem #c9946a,
        4rem 8rem #c9946a,
        5rem 8rem #c9946a,
        6rem 8rem #c9946a,
        7rem 8rem #c9946a,
        8rem 8rem #c9946a,
        9rem 8rem #a9774c,
        -13rem 9rem #a47751,
        -12rem 9rem #c9946a,
        -11rem 9rem #c9946a,
        -10rem 9rem #c9946a,
        -9rem 9rem #c9946a,
        -8rem 9rem #a7764d,
        -7rem 9rem #c9946a,
        -6rem 9rem #c9946a,
        -5rem 9rem #c9946a,
        -4rem 9rem #c9946a,
        -3rem 9rem #c9946a,
        -2rem 9rem #c9946a,
        -1rem 9rem #a7764f,
        0rem 9rem #000,
        1rem 9rem #000,
        2rem 9rem #000,
        3rem 9rem #eabc9b,
        4rem 9rem #c9946a,
        5rem 9rem #c9946a,
        6rem 9rem #c9946a,
        7rem 9rem #c9946a,
        8rem 9rem #c9946a,
        9rem 9rem #a9774c,
        -11rem 10rem #a47751,
        -10rem 10rem #a47751,
        -9rem 10rem #c9946a,
        -8rem 10rem #c9946a,
        -7rem 10rem #c9946a,
        -6rem 10rem #c9946a,
        -5rem 10rem #c9946a,
        -4rem 10rem #c9946a,
        -3rem 10rem #a7764f,
        -2rem 10rem #000,
        -1rem 10rem #000,
        0rem 10rem #000,
        1rem 10rem #000,
        2rem 10rem #000,
        3rem 10rem #eabc9b,
        4rem 10rem #c9946a,
        5rem 10rem #c9946a,
        6rem 10rem #c9946a,
        7rem 10rem #c9946a,
        8rem 10rem #a9774c,
        9rem 10rem #a9774c,
        -7rem 11rem #000,
        -6rem 11rem #a37551,
        -5rem 11rem #000,
        -4rem 11rem #000,
        -3rem 11rem #f8efd4,
        -2rem 11rem #000,
        -1rem 11rem #000,
        0rem 11rem #000,
        1rem 11rem #000,
        2rem 11rem #000,
        3rem 11rem #c8946b,
        4rem 11rem #c9946a,
        5rem 11rem #c9946a,
        6rem 11rem #c9946a,
        7rem 11rem #c9946a,
        8rem 11rem #a9774c,
        9rem 11rem #a9774c,
        -7rem 12rem #000,
        -6rem 12rem #000,
        -5rem 12rem #67151b,
        -4rem 12rem #67151b,
        -3rem 12rem #67151b,
        -2rem 12rem #67151b,
        -1rem 12rem #000,
        0rem 12rem #000,
        1rem 12rem #000,
        2rem 12rem #e9bc97,
        3rem 12rem #c8946b,
        4rem 12rem #c9946a,
        5rem 12rem #c9946a,
        6rem 12rem #c9946a,
        7rem 12rem #a9774c,
        8rem 12rem #a9774c,
        -8rem 13rem #f6f0d7,
        -7rem 13rem #000,
        -6rem 13rem #69121b,
        -5rem 13rem #892728,
        -4rem 13rem #b1382f,
        -3rem 13rem #67151b,
        -2rem 13rem #67151b,
        -1rem 13rem #f6f0d7,
        0rem 13rem #000,
        1rem 13rem #e9bc97,
        2rem 13rem #c8946b,
        3rem 13rem #c8946b,
        4rem 13rem #c9946a,
        5rem 13rem #c9946a,
        6rem 13rem #c9946a,
        7rem 13rem #a9774c,
        8rem 13rem #a9774c,
        -9rem 14rem #e9be9c,
        -8rem 14rem #e9be9c,
        -7rem 14rem #8a2825,
        -6rem 14rem #8a2825,
        -5rem 14rem #b1382f,
        -4rem 14rem #8a2825,
        -3rem 14rem #8a2825,
        -2rem 14rem #e9be9c,
        -1rem 14rem #e9be9c,
        0rem 14rem #e9be9c,
        1rem 14rem #c8946b,
        2rem 14rem #c8946b,
        3rem 14rem #c8946b,
        4rem 14rem #c9946a,
        5rem 14rem #c9946a,
        6rem 14rem #a9774c,
        7rem 14rem #a9774c,
        -9rem 15rem #a27755,
        -8rem 15rem #c8946c,
        -7rem 15rem #8a2825,
        -6rem 15rem #8a2825,
        -5rem 15rem #b1382f,
        -4rem 15rem #8a2825,
        -3rem 15rem #8a2825,
        -2rem 15rem #a27755,
        -1rem 15rem #c8946b,
        0rem 15rem #c8946b,
        1rem 15rem #c8946b,
        2rem 15rem #c8946b,
        3rem 15rem #c8946b,
        4rem 15rem #a9774c,
        5rem 15rem #a9774c,
        6rem 15rem #a9774c,
        -8rem 16rem #a27755,
        -7rem 16rem #8a2825,
        -6rem 16rem #8a2825,
        -5rem 16rem #b1382f,
        -4rem 16rem #8a2825,
        -3rem 16rem #8a2825,
        -2rem 16rem #a27755,
        -1rem 16rem #c8946b,
        0rem 16rem #c8946b,
        1rem 16rem #c8946b,
        2rem 16rem #a9774c,
        3rem 16rem #a9774c,
        4rem 16rem #a9774c,
        5rem 16rem #a9774c,
        -7rem 17rem #8a2825,
        -6rem 17rem #8a2825,
        -5rem 17rem #b1382f,
        -4rem 17rem #8a2825,
        -3rem 17rem #8a2825,
        -2rem 17rem #a27755,
        -1rem 17rem #c8946b,
        0rem 17rem #a9774c,
        1rem 17rem #a9774c,
        2rem 17rem #a9774c,
        3rem 17rem #a9774c,
        -7rem 18rem #8a2825,
        -6rem 18rem #8a2825,
        -5rem 18rem #b1382f,
        -4rem 18rem #8a2825,
        -7rem 19rem #65171d,
        -6rem 19rem #8a2825,
        -5rem 19rem #b1382f,
        -4rem 19rem #65171d,
        -6rem 20rem #65171d,
        -5rem 20rem #65171d;
    }